# 🌎 - Specifically for this project - 🌎
*.docx
**/about.md
/./about.md

# 🐍 - Python - 🐍
env/*
venv/*
.venv/*
__pycache__

# 💡- Buildozer - 💡
bin
buildozer
.buildozerW
 
# 🐳 - Editor directories and files - 🐳
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# 🐈‍⬛ - Logs - 🐈‍⬛
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
actions-runner/*


